.StudentCard-container {
  .StudentCard-card {
    border: 3px solid black;
    border-radius: 1em;
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 1em;
    margin-bottom: 3em;
    background-color: #1b1b1b;

    .StudentCard-image {
      width: 150px;
      box-shadow: 5px 5px 12px 5px black;
      background-color: white;
      border-radius: 1em;
    }

    .StudentCard-header {
      background-color: white;
      box-shadow: 5px 5px 12px 5px black;
      border-radius: 1em;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .StudentCard-body {
      grid-column: 1 / -1;
      // background-color: peachpuff;
      border-radius: 1em;
      text-align: center;

      .StudentCard-info {
        list-style-type: none;
        box-shadow: 5px 5px 12px 5px black;
      }

      .StudentCard-button {
        width: 100%;
        border: none;
        padding: none;
        background: none;
        font-size: 24px;
      }
    }
  }
}
