.Container {
  width: 60vw;
  height: 80vh;
  border-radius: 1em;
  // background-color: #fff;
  overflow-y: scroll;
  text-align: center;

  &--center {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
