.StudentList-container {
  height: inherit;

  .studentList-form {
    display: grid;
    grid-template-columns: 1fr 100px 100px;
    gap: 1em;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1em;

    .StudentList_controls {
      padding: 16px 10px 8px;
      border: none;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
      outline: none !important;
      outline-offset: none !important;
      box-shadow: none !important;

      &:focus {
        border-color: #777;
      }
    }
  }

  .StudentList_content {
    height: calc(100% - 100px);
    overflow-y: scroll;
  }

  .StudentList_content--center {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
